Source: libconsolekeyboard
Priority: optional
Maintainer: Daniel Patrick Abrecht <deb@danielabrecht.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Section: libs
#Homepage: <insert the upstream URL, if relevant>
# branch libttymultiplex
# Also available at:
#   https://gitlab.com/DanielAbrecht/console-keyboard-multiplexer.git
#   https://source.puri.sm/DanielAbrecht/console-keyboard-multiplexer.git
#   https://github.com/Daniel-Abrecht/console-keyboard-multiplexer.git
Vcs-Git: https://projects.dpa.li/git/console-keyboard-multiplexer.git
Vcs-Browser: https://projects.dpa.li/git/?p=console-keyboard-multiplexer.git;a=summary

Package: libconsolekeyboard-dev
Section: libdevel
Architecture: any
Depends: libconsolekeyboard1 (= ${binary:Version}), ${misc:Depends}
Description: libconsolekeyboard development files.
 Library implementing the protocol for interacting with the
 console-keyboard-multiplexer program, development files.

Package: libconsolekeyboard1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for interacting with console-keyboard-multiplexer.
 Library implementing the protocol for interacting with the
 console-keyboard-multiplexer program.
